
.nav-menu{
  display: flex;
  gap: 20px;
}

.dbl2{
  display: grid;
  grid-template-columns: repeat(1fr, 45px);
  column-gap: 45px;
}

.card{
  display: grid;
  grid-template-columns: repeat(1fr, 35px);
  column-gap: 20px;
}

footer{
  display: grid;
  grid-template-columns: repeat(1fr, 40px);
  column-gap: 20px;


}

